
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Account.cshtml";
}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Welcome @Session["Name"]!</h2>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>What would you like to do?</h3>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div>
        <a href="/Users/Schools/Create">
            <span class="glyphicons glyphicons-mixed-buildings"></span>
            <h2>List My School</h2>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div>
        <a href="/Users/Jobs/Create">
            <span class="glyphicons glyphicons-briefcase"></span>
            <h2>Post Job</h2>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div>
        <a href="/Users/Tutors/Create">
            <span class="glyphicons glyphicons-old-man"></span>
            <h2>Apply as Tutor</h2>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div>
        <a href="/Users/Adverts/Create">
            <span class="glyphicons glyphicons-bullhorn"></span>
            <h2>Post Ads</h2>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div>
        <a href="/Users/Blogs/Create">
            <span class="glyphicons glyphicons-blog"></span>
            <h2>Add Blog Post</h2>
        </a>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div>
        <a href="/Users/Home/">
            <span class="glyphicons glyphicons-home"></span>
            <h2>Go to My Account</h2>
        </a>
    </div>
</div>